# Created by https://www.toptal.com/developers/gitignore/api/macos,emacs
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#

### macOS ###
.DS_Store
